$heading-size : 3.250em;
$heading-face :'Poppins';
$heading-weight : 600;
$heading-line-height : 4.875em;
$heading-letter-spacing : 5%;

$normal-text-size : 1em;
$normal-text-weight : 400;
$normal-text-face : 'Poppins';
$normal-text-line-height : 1.500em;
$normal-text-letter-spacing : 2%;

$subhead-size : $normal-text-size;
$subhead-face : $normal-text-face;
$subhead-weight : 600;
$subhead-line-height : 1.875em;
$subhead-letter-spacing: 5%;

$smallblack-text-size : 1em;
$smallblack-text-face : 'Poppins';
$smallblack-text-weight : 500;
$smallblack-text-line-height : 1.500em;
$smallblack-text-letter-spacing : 5%;
$smallblack-text-color : #656161;

$smallblue-text-size : 1em;
$smallblue-text-face : 'Poppins';
$smallblue-text-weight : 600;
$smallblue-text-line-height : 1.500em;
$smallblue-text-letter-spacing : 5%;
$smallblue-text-color : #5669FF;

$button-size : 